
.card{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  height: 400px;
  width: 200;
  background-color: azure;
}

  .card-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .card-details {
    padding: 10px;
  }
  
  .card-title {
    font-size: 20px;
    margin: 0;
  }
  
  .card-info {
    margin: 5px 0;
  }
  
  .card-description {
    margin: 10px 0;
    text-align: justify;
  }
  
  .link-card {
    color: rgb(0, 0, 0);
    text-decoration:none;
  }
  