.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-text {
  margin-right: auto;
  color: white;
  font-size: 30px;
}

.search-input input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-button {
  display: inline-block;
  margin-right: 700px;
}

.back-button button,
.reload-button button {
  float: left;
  margin-right: 10px;
}

.reload-button button{
  background-color: red;
  cursor: pointer;
}

.reload-button button:hover{
  background-color: green;
}

.back-button,
.reload-button {
  display: inline-block;
}
