/* Estilos para la barra de navegación */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-text {
  margin-right: auto; /* Empuja el texto a la izquierda */
  color: white; /* Color del texto */
  font-size: 30px;
}

.search-input input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-button {
  /* Estilos para el botón "Crear Drivers" */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
